### <font color = yellow> This is a clean copy of fifo_rows_redo.ipynb at creation point

In [1]:
library(tibble)

In [2]:
cat("One", "Two", "Three", sep = " | ", fill = TRUE)

One | Two | Three

In [3]:
options(pillar.width = Inf)

## <font color = yellow> create_df function () - reads .csv

In [4]:
   
df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
df$date <- as.Date(df$date, origin = "1899-12-30")

In [5]:
head(df,2)

  index date       type co  quan pps    basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.0700 4273.5 0         0    0           ⋯
2 2     2023-01-27 Sell AMC 1000 5.5124 5512.4 0         0    0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 0       0         0         0        0          0           0
2 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             0
2 0           0             0

In [6]:
df$flag <- FALSE
df$true_false <- FALSE

In [7]:
head(df, 2)

  index date       type co  quan pps    basis  sale_quan flag  buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.0700 4273.5 0         FALSE 0           ⋯
2 2     2023-01-27 Sell AMC 1000 5.5124 5512.4 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 0       0         0         0        0          0           0
2 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             FALSE
2 0           0             FALSE

In [8]:
tester <- function() {
    if(buys$type[i] == "Buy" && sells$type[i+1] == "Sell") {
        cat("Std buy/sell row orientation.  buys$type[i] = : ", buys$type[i], "sells$type[i+1] = : ", sells$type[i+1],  "\n")    
    }else if( buys$type[i] != "Buy" && sells$type[i+1] == "Sell") {
        cat("Irregular buy/sell row postion. buys$type[i] = : ", buys$type[i], "sells$type[i+1] = : ", sells$type[i+1],  "\n")   
        }
  }
# tester()

## <font color = yellow>1. Create data & dfs

In [9]:
create_data <- function () {   
   
    df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
    df$date <- as.Date(df$date, origin = "1899-12-30")
 
    df$flag <- FALSE
    df$true_false <- FALSE
    
    sale_records <- data.frame() 

    # create dfs from filtered df
    buys <- df[df$type == 'Buy', ]  # Filter buys
    sells <- df[df$type == 'Sell', ]  # Filter sells
    b <- buys[1,]
    s <- sells[1,]
    
    
    # Assign variables to the global environment
    assign("df", df, envir = .GlobalEnv)
    assign("buys", buys, envir = .GlobalEnv)
    assign("sells", sells, envir = .GlobalEnv)
    assign("b", b, envir = .GlobalEnv)
    assign("s", s, envir = .GlobalEnv)
    
    }


sale_records <- data.frame()

In [10]:
# fct call
create_data()

#create new empty df to record each buy/sell transaction
sale_records <- data.frame()

## <font color = lime> Examining data and dfs

In [11]:
nrow(buys)
nrow(sells)
dim(sells)
head(buys, 3)
head(sells,3)

[1] 23

[1] 18

[1] 18 23

  index date       type co  quan pps   basis  sale_quan flag  buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.070 4273.5 0         FALSE 0           ⋯
3 3     2023-01-20 Buy  AMC 1000 5.625 5625.0 0         FALSE 0           ⋯
5 5     2023-01-23 Buy  AMC 1000 5.788 5788.0 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 0       0         0         0        0          0           0
3 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             FALSE
3 0           0             FALSE
5 0           0             FALSE

  index date       type co  quan pps     basis   sale_quan flag  buy_cf_quan ⋯
2 2     2023-01-27 Sell AMC 1000 5.51240 5512.40 0         FALSE 0           ⋯
4 4     2023-02-03 Sell AMC 1000 6.68255 6682.55 0         FALSE 0           ⋯
6 6     2023-02-03 Sell AMC 1000 6.25500 6255.00 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             FALSE
4 0           0             FALSE
6 0           0             FALSE

### <font color = yellow>2. update_b() - updates the basic b variable with data from buy/sell rows 
    
#### b>s, b<s, b==s,

In [12]:
for(i in 1:3) {
    cat("for loop, loop is i: ", i, "\n")
    }

for loop, loop is i:  1
for loop, loop is i:  2
for loop, loop is i:  3

In [13]:
# handy
first_row <- head(buys, n = 1)
first_row

  index date       type co  quan pps  basis  sale_quan flag  buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.07 4273.5 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             FALSE

#### <font color = lime> Basic version: when b == s ( no c/f)
    
#### <font color = lime> Basic version: when b > s ( buy c/f)    
    
#### <font color = lime> Basic version: when b < s (sell  c/f)

In [14]:
# # create a new var: update_b), and assign values to it based upon the transaction type:  b>s, b<s, b==s 


update_b <- function(b,s, buys) {


        # ( b > s ) ,  Buy C/F 
    
        if ( b$quan > s$quan) { 
            
            b$sale_quan  <- s$quan    
            b$buy_quan <- s$quan
            b$buy_pps <-  b$pps
            b$buy_basis <-  b$buy_quan * b$pps

            b$sell_quan <- s$quan    
            b$sell_pps <- s$pps
            b$sell_basis <- s$quan * s$pps

            b$sold_cf_quan <- (b$quan - s$quan)        
            b$sold_cf_pps <- b$pps
            b$sold_cf_basis <- b$sold_cf_quan * b$pps 
            b$profit_loss <- b$sell_basis - b$buy_basis
            
            # Has buy c/f 
            b$flag <- TRUE 
            buys$flag[1] <- TRUE
            
            
            # All s will be eliminated (Sold) in this transaction
            s$type <- "SOLD"
            cat("POC - updated_s when b > s: ", s$type, "\n")
    
    
       # ( s > b ), has sell carryforward
 
        }else if(b$quan < s$quan) {
            
            b$basis <-  b$quan * b$pps
            b$sale_quan <- b$quan
           
            b$buy_quan <- b$quan
            b$buy_pps <-  b$pps
            b$buy_basis <- b$basis
         
            # Sell c/f
            sold_cf_quan <- s$quan - b$quan           
            b$sold_cf_quan <- sold_cf_quan
            b$sold_cf_pps <- s$pps
            b$sold_cf_basis <- sold_cf_quan * s$pps
                   
            b$sell_quan <- b$quan
            b$sell_pps <- s$pps
            b$sell_basis <- b$quan * s$pps
            b$profit_loss <- b$sell_basis - b$buy_basis
            
            # Has sell c/f 
            b$true_false <- TRUE
           
 #  s$type <- "SELL-CF"   
            
        }else if (b$quan == s$quan) {   
            cat("proof 3 \n")
                  
            b$buy_quan <- s$quan
            b$buy_pps <-  b$pps
            b$buy_basis <- b$buy_quan * b$pps

            b$sell_quan <- s$quan    
            b$sell_pps <- s$pps
            b$sell_basis <- s$quan * s$pps
            b$profit_loss <- b$sell_basis - b$buy_basis
            
            # need a new flag setting for update_buy_sells fct
            if(b$type == "Buy CF" && s$type == "Sell CF") {
        cat("proof \n")
                b$co <- "CFCF"
                b$true_false <- TRUE
                s$tru_false <- TRUE
                } 
        
            s$type <- "EQ SOLD"
            cat("POC - updated_s when b == s: ", s$type, "\n")            
            }
            
        # s$type <- "SOLD"
        # cat("POC - updated_s : ", s$type, "\n")
        return(list(b,s, buys)) 
     
  }  # fct

# updated_b_list <- update_b(b,s,buys)

# updated_b <- updated_b_list[[1]]
# updated_s <- updated_b_list[[2]]
# buys <- updated_b_list[[3]]

# dim(updated_b)
# dim(buys)

In [15]:
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]

dim(updated_b)
dim(buys)

POC - updated_s when b > s:  SOLD

[1]  1 23

[1] 23 23

In [16]:
updated_s
updated_b
b[1,]

  index date       type co  quan pps    basis  sale_quan flag  buy_cf_quan ⋯
2 2     2023-01-27 SOLD AMC 1000 5.5124 5512.4 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             FALSE

  index date       type co  quan pps  basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.07 4273.5 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.07    4070      1000      5.5124   5512.4     1442.4      50
  sold_cf_pps sold_cf_basis true_false
1 4.07        203.5         FALSE

  index date       type co  quan pps  basis  sale_quan flag  buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.07 4273.5 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             FALSE

### <font color = yellow>3. create sale_record for each completed buy/sell transaction

#### <font color = yellow> Use rbind() in first transaction, then use add_rows() in following transactions

In [17]:
# First go around needs rbind()
sale_records <- rbind(sale_records, updated_b)

### <font color = yellow> 4. update_buys_sells() 
### <font color = yellow>  updates buys/ sells (will add_row) when c/f
    
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for next (loop) buy/sell transaction

#### <font color = lime> How it's done

In [18]:
# good example from R:  ?add_row
df <- tibble(x = 1:3, y = 3:1)

df <- df %>% add_row(x = 4, y = 0, .before = 2)
df

  x y
1 1 3
2 4 0
3 2 2
4 3 1

In [19]:
sale_records

  index date       type co  quan pps  basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.07 4273.5 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.07    4070      1000      5.5124   5512.4     1442.4      50
  sold_cf_pps sold_cf_basis true_false
1 4.07        203.5         FALSE

In [20]:
# Evaluate the type of carryforward, then update buys or sells w/cf to prepare for next transaction (loop)

update_buys_sells <- function(buys, sells) {

    #  Check the most recent row ??? of sale_record or the last row of sale_record (was bind() or add_row() ? )
    
   first_row <- head(sale_records, n = 1)
   
    #first_row <- head(sale_records, n=1)
    
    # b == s (no c/f)
    if(first_row$flag == FALSE && first_row$true_false == FALSE) {
         cat("\n", "The buy == sell, t/f No update to buys or sells.  NO carryforward. ", first_row$buy_cf_quan, "\n")
      }  
        
    # both start with the same inputs from the sale_records
    b1 <- first_row
    s1 <- first_row
    
    
    
    #  b > s  ... buy c/f will be created 
   
    if (first_row$flag == TRUE && first_row$true_false == FALSE ) {
        
        
        cat("\n", "There is Buy carryforward. Update buys ", first_row$sold_cf_quan, "\n")

        first_row$co <- "c/f"
       
        
        
   
        
        
# -------------------------------------------------------------------------------------------------------------------------   
        
        
        # NEW  ... This section makes changes in sells[2, ]  which becomes sells[3,] , due to add_row()
                
        
        s2cf_quan <- sells$quan[2] - s1$sold_cf_quan
        s2cf_pps <- sells$pps[2]
        
        cat("the s2cf_quan is: ", s2cf_quan, "\n")
        cat("the s2cf_pps is ", s2cf_pps, "\n")
        
        sells$quan[2] <- s2cf_quan
        sells$pps[2] <-  s1$sell_pps                     #    s2cf_pps 
        sells[2, ]
        sells$basis[2] <- sells$pps[2] * s2cf_quan
        
#    05/03 22:30 change     
       
        
# -------------------------------------------------------------------------------------------------------------------------    
        
        
        #  The section updates b1   .... t/f buys
        
       
        b1$type <- "Buy CF"
        b1$quan <- b1$sold_cf_quan
        b1$pps <- b1$sold_cf_pps
        b1$basis <- b1$sold_cf_basis
        b1$flag <- TRUE
        b1$sale_quan <- 0
        b1[ , 10:ncol(b1)] <- 0

        test <- buys
        
      #  test <- test %>% add_row(b1, .before = 1)
        test <- test %>% add_row(b1, .after = 1)
        buys <- test
        
  # ---------------------------------------------------------------------------------------------------------------      
        
               
        # this section updates s1 ... t/f sells
       
        
            
        first_row$co <- "c/f"    
        
       
        s1$type <- "Sell CF"
        s1$quan <- s1$sold_cf_quan
        s1$pps <-  s1$sell_pps               #    s1$sold_cf_pps
        s1$basis <- s1$sell_pps
        s1$sale_quan <- 0
        s1[ , 10:ncol(s1)] <- 0

        test <- sells
        test <- test %>% add_row(s1, .before = 1)
        sells <- test
        
 
        
        
# =================================================================================================================
# ==============================================================================================================
 # =================================================================================================================
# ==============================================================================================================
              
        
             #   s > b ... sell carryforward will be created    
        

    
    } else if (first_row$flag == FALSE && first_row$true_false == TRUE ) {
        
        
       
        cat("\n", "There is Sold carryback. Update sells carryback -2 ", first_row$sold_cf_quan, "\n")
           # cat("dim(s1) : ", dim(s1), "\n")
         
        first_row$co <- "c/b"      
       
        s1$type <- "Sell CB"
        s1$quan <- s1$sold_cf_quan
        s1$pps <- sells$pps[1]
        s1$basis <- s1$sold_cf_basis
        s1$sale_quan <- 0
        s1[ , 10:ncol(s1)] <- 0

        test <- sells
        test <- test %>% add_row(s1, .after = 1)
        sells <- test
 
    # =================================================================================================================
# ==============================================================================================================
       
  # =================================================================================================================
# ==============================================================================================================
       
        ## must also update the buys to match that sells c/f (this will allow for loop2 to begin 
        ## with both the buy and sell processing the c/f (example when sell cf = 900, then the 
        ## buy row needs to be that same 900 .... do not delete, just update here and now 
        
        b1$type <- "Buy CB"
        # b1$quan <- b1$sold_cf_quan
       # b1$pps <- b1$sold_cf_pps
        b1$basis <- b1$sold_cf_basis
        b1$flag <- FALSE
        
        b1$sale_quan <- 0
        b1[ , 10:ncol(b1)] <- 0
        
        test2 <- buys
    #    test2 <- test2 %>% add_row(b1, .before = 1)
        buys <- test2
                      
        }

  # =================================================================================================================
# ==============================================================================================================
# =================================================================================================================
# ==============================================================================================================
         
    
    # print by type of c/f  ( buy or sell ) 
        if(first_row$flag == TRUE) {
            cat("printing updated buys[1 ], dim of buys increases with c/f ", "\n")
            b1
            #buys[1, ]
        }else if (first_row$true_false == TRUE) {
            cat("printing: s1 ... dim of sells increases with c/f ", "\n")
            s1
        }else {
            cat("If msg here, there is no CF and potential issue exists in fct update_buys_sells. ", "\n")
            }
    
    return(list(buys, sells))
     
  }  # fct

# fct call
# return_list <- update_buys_sells(buys, sells)

# buys <- return_list[[1]]
# sells <- return_list[[2]]

# dim(buys)
# dim(sells)

In [21]:
# fct call
return_list <- update_buys_sells(buys, sells)

# returned the updated to buys / sells
buys <- return_list[[1]]
sells <- return_list[[2]]

dim(buys)
dim(sells)

 There is Buy carryforward. Update buys  50
the s2cf_quan is:  950
the s2cf_pps is  6.68255
printing updated buys[1 ], dim of buys increases with c/f

[1] 24 23

[1] 19 23

#### <font color = yellow>5. Snip(), delete row from buys and sells / replace row when c/f

In [22]:
range(x <- sort(round(stats::rnorm(10) - 1.2, 1)))

if(any(x < 0)) cat("x contains negative values\n")

[1] -3.6 -0.2

x contains negative values

In [23]:
if(any(buys[1,] == TRUE)) cat("buys contains cf \n")

buys contains cf

In [24]:
buys[1:3,]
sells[1:3, ]

  index date       type   co  quan pps   basis  sale_quan flag  buy_cf_quan ⋯
1 1     2022-12-31 Buy    AMC 1050 4.070 4273.5 0          TRUE 0           ⋯
2 1     2022-12-31 Buy CF AMC   50 4.070  203.5 0          TRUE 0           ⋯
3 3     2023-01-20 Buy    AMC 1000 5.625 5625.0 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 0       0         0         0        0          0           0
2 0       0         0         0        0          0           0
3 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             0
2 0           0             0
3 0           0             0

  index date       type    co  quan pps    basis     sale_quan flag
1 1     2022-12-31 Sell CF AMC   50 5.5124    5.5124 0          TRUE
2 2     2023-01-27 Sell    AMC 1000 5.5124 5512.4000 0         FALSE
3 4     2023-02-03 Sell    AMC  950 5.5124 5236.7800 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
2 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
2 0            0           0             0
3 0            0           0             0

In [25]:
sale_records

  index date       type co  quan pps  basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.07 4273.5 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.07    4070      1000      5.5124   5512.4     1442.4      50
  sold_cf_pps sold_cf_basis true_false
1 4.07        203.5         FALSE

In [26]:
#  save_sell_one <- data.frame()   #  keep for c/f >> Sell[1, ]
copy_snip <- function (b, s, buys, sells) {
   
    # parameters - rep the input vars (arguments)  ... may be extraneous
    b1 <- buys [1, ]
    s1 <- sells [1, ]
    
       
    # snip .... if 
        
    if(buys$quan[1] == sells$quan[1] && buys$type[1] == "Buy CF" && sells$type[1] == "Sell CF")  { #  sells$type[1]) {
        cat("new condtional works for filtering in copy_snip when cf-cf \n")
        buys <-  buys[-1, ]
        sells <- sells[-1, ]    
     return(list(b1, s1, buys, sells))  
        
  #  if(buys$type[1] == "Buy CF")   { 
    } else if (buys$type[1] == "Buy CF" || buys$flag[1] == TRUE ) {   #  && buys$true_false == FALSE)   {         
   # if(buys$flag[1] == "TRUE")   {         
        cat(" Contains buy carryforward - remove buys c/f row and DO snip sells \n")         
         # remove the original buys and sells
         buys <- buys[-1, ]    
         sells <- sells[-2, ]
        return(list(b1, s1, buys, sells))                   
        
    } else if (sells$type[1] == "Sell CF") {
        cat("sells contains carryforward .. Replace sells and DO snip buys \n") 
        sells <- sells[-2,]
        buys <- buys[-1,]
        return(list(b1, s1, buys, sells))
# new       
    } else if (sells$type[2] == "Sell CB") {
        cat("sells contains carryback .. Remove sells[1,]", "\n") 
        sells <- sells[-1,]
        buys <- buys[-1,]
        return(list(b1, s1, buys, sells))
        
     }else if (buys$co[1] == "CFCF" ) {
        cat("this is a cf/cf wash sales ... replace buys[1,] sells[1,] \n")
        buys <- buys[-1]
        sells <- sells[-1]
         return(list(b1, s1, buys, sells))
        
    } else if(b1$flag == FALSE & b1$true_false == FALSE) {
        
        cat("check false / false \n")        
        buys <- buys[-1,]
        sells <- sells[-1,]
        
        return(list(b1, s1, buys, sells))
        
    } else {
        cat("There is no carryforward in buys or sells, This msgs means there is an issue. \n")
        # buys <- buys[-1,]
        # sells <- sells[-1,]
        return(list(b1, s1, buys, sells))    
    }
 
 } # fct     
   
# fct call passing 2 arguments
# copy_snip_list <- copy_snip(b, s, buys, sells) 

# b1 <- copy_snip_list[[1]]
# s1 <- copy_snip_list[[2]]
# buys <- copy_snip_list[[3]]
# sells <- copy_snip_list[[4]]

# # after
# dim(buys)
# dim(sells)
# # b1
# s1

In [27]:
copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
dim(buys)
dim(sells)
# b1
# s1

 Contains buy carryforward - remove buys c/f row and DO snip sells

[1] 23 23

[1] 18 23

In [28]:
b1

  index date       type co  quan pps  basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.07 4273.5 0         TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             0

#### <font color = lime> QC: Loop 1 review buys & sells

In [29]:
buys[1:4,]
sells[1:4,]

  index date       type   co  quan pps    basis   sale_quan flag  buy_cf_quan ⋯
2 1     2022-12-31 Buy CF AMC   50 4.0700   203.5 0          TRUE 0           ⋯
3 3     2023-01-20 Buy    AMC 1000 5.6250  5625.0 0         FALSE 0           ⋯
4 5     2023-01-23 Buy    AMC 1000 5.7880  5788.0 0         FALSE 0           ⋯
5 7     2023-01-27 Buy    AMC 2000 5.2394 10478.8 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 0       0         0         0        0          0           0
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0

  index date       type    co  quan pps    basis     sale_quan flag
1 1     2022-12-31 Sell CF AMC   50 5.5124    5.5124 0          TRUE
3 4     2023-02-03 Sell    AMC  950 5.5124 5236.7800 0         FALSE
4 6     2023-02-03 Sell    AMC 1000 6.2550 6255.0000 0         FALSE
5 8     2023-02-03 Sell    AMC 1000 6.1901 6190.1000 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0

#### <font color = lime> QC: Loop 1 review sale_record for accuracy

In [30]:
sale_records

  index date       type co  quan pps  basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.07 4273.5 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.07    4070      1000      5.5124   5512.4     1442.4      50
  sold_cf_pps sold_cf_basis true_false
1 4.07        203.5         FALSE

### <font color = lime> Got it!  The components above are modular and can be combined into a loop

In [31]:
if (exists("sale_records") && is.data.frame(get("sale_records"))) {
  # Data frame exists and is a valid data frame
  # Your code here...
    cat("sale_records exists:     ", "\n") 
}

sale_records exists:

In [32]:
sale_records

  index date       type co  quan pps  basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy  AMC 1050 4.07 4273.5 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.07    4070      1000      5.5124   5512.4     1442.4      50
  sold_cf_pps sold_cf_basis true_false
1 4.07        203.5         FALSE

In [33]:
# stopps #  Old code

# <font color = cyan> Proof of Concept above. End of loop 1

#### <font color = yellow>1. Create data & dfs

In [34]:
b <- buys[1,]
s <- sells[1,]

In [35]:
b
s

  index date       type   co  quan pps  basis sale_quan flag buy_cf_quan ⋯
2 1     2022-12-31 Buy CF AMC 50   4.07 203.5 0         TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0

  index date       type    co  quan pps    basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Sell CF AMC 50   5.5124 5.5124 0         TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             0

### <font color = yellow>2. Update b - the variable that records each buy/sell transaction (w/in loop)
    
#### b>s, b<s, b==s,

In [36]:
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]

dim(updated_b)
dim(buys)

proof 3
proof
POC - updated_s when b == s:  EQ SOLD

[1]  1 23

[1] 23 23

### <font color = yellow>3. Update the sales_records (rbind) with updated_b for each transaction (loop)

In [37]:
b

  index date       type   co  quan pps  basis sale_quan flag buy_cf_quan ⋯
2 1     2022-12-31 Buy CF AMC 50   4.07 203.5 0         TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0

In [38]:
# First go around needs rbind()
# sale_records <- rbind(sale_records, updated_b)    

sale_records <- sale_records %>% add_row(updated_b , .before = 1)
sale_records[1,]
sale_records

  index date       type   co   quan pps  basis sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy CF CFCF 50   4.07 203.5 0         TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.07    203.5     50        5.5124   275.62     72.12       0
  sold_cf_pps sold_cf_basis true_false
1 0           0             TRUE

  index date       type   co   quan pps  basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy CF CFCF   50 4.07  203.5    0      TRUE 0           ⋯
2 1     2022-12-31 Buy    AMC  1050 4.07 4273.5 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.07     203.5      50      5.5124    275.62      72.12      0
2 4.07    4070.0    1000      5.5124   5512.40    1442.40     50
  sold_cf_pps sold_cf_basis true_false
1 0.00          0.0          TRUE
2 4.07        203.5         FALSE

## <font color = lime> CAUTION: Step3 using either before/after, will effect Step 4 below:

In [39]:
buys[1:4,]
sells[1:4,]

  index date       type   co  quan pps    basis   sale_quan flag  buy_cf_quan ⋯
2 1     2022-12-31 Buy CF AMC   50 4.0700   203.5 0          TRUE 0           ⋯
3 3     2023-01-20 Buy    AMC 1000 5.6250  5625.0 0         FALSE 0           ⋯
4 5     2023-01-23 Buy    AMC 1000 5.7880  5788.0 0         FALSE 0           ⋯
5 7     2023-01-27 Buy    AMC 2000 5.2394 10478.8 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 0       0         0         0        0          0           0
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0

  index date       type    co  quan pps    basis     sale_quan flag
1 1     2022-12-31 Sell CF AMC   50 5.5124    5.5124 0          TRUE
3 4     2023-02-03 Sell    AMC  950 5.5124 5236.7800 0         FALSE
4 6     2023-02-03 Sell    AMC 1000 6.2550 6255.0000 0         FALSE
5 8     2023-02-03 Sell    AMC 1000 6.1901 6190.1000 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0

#### <font color = yellow> 4. Update buys or sells with a new row (add_row) - whenever a transaction (loop) includes  c/f
    
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for next (loop) buy/sell transaction

In [40]:
# fct call
return_list <- update_buys_sells(buys, sells)

# returned the updated to buys / sells
buys <- return_list[[1]]
sells <- return_list[[2]]

dim(buys)
dim(sells)

printing updated buys[1 ], dim of buys increases with c/f

[1] 23 23

[1] 18 23

#### <font color = yellow>5. snips () Create a new variable from buys/sells row 1, then delete row 1 from buys and sells (copy_snip () )

In [41]:
copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
dim(buys)
dim(sells)
# b1
# s1

new condtional works for filtering in copy_snip when cf-cf

[1] 22 23

[1] 17 23

#### <font color = lime> QC: Loop 2 review sale_record for accuracy

In [42]:
sale_records

  index date       type   co   quan pps  basis  sale_quan flag buy_cf_quan ⋯
1 1     2022-12-31 Buy CF CFCF   50 4.07  203.5    0      TRUE 0           ⋯
2 1     2022-12-31 Buy    AMC  1050 4.07 4273.5 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.07     203.5      50      5.5124    275.62      72.12      0
2 4.07    4070.0    1000      5.5124   5512.40    1442.40     50
  sold_cf_pps sold_cf_basis true_false
1 0.00          0.0          TRUE
2 4.07        203.5         FALSE

#### <font color = lime> QC: Loop 2 review buys & sells

In [43]:
dim(buys)
dim(sells)
head(buys,4)
head(sells,4)

[1] 22 23

[1] 17 23

  index date       type co  quan pps    basis   sale_quan flag  buy_cf_quan ⋯
3 3     2023-01-20 Buy  AMC 1000 5.6250  5625.0 0         FALSE 0           ⋯
4 5     2023-01-23 Buy  AMC 1000 5.7880  5788.0 0         FALSE 0           ⋯
5 7     2023-01-27 Buy  AMC 2000 5.2394 10478.8 0         FALSE 0           ⋯
6 9     2023-02-10 Buy  AMC 2000 4.7450  9490.0 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3  4    2023-02-03 Sell AMC  950 5.5124  5236.78 0         FALSE 0           ⋯
4  6    2023-02-03 Sell AMC 1000 6.2550  6255.00 0         FALSE 0           ⋯
5  8    2023-02-03 Sell AMC 1000 6.1901  6190.10 0         FALSE 0           ⋯
6 10    2023-02-21 Sell AMC 3000 5.8550 17565.00 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

In [44]:
# stopps

# <font color = cyan> Proof of Concept above. End of loop 2

#### <font color = yellow>1. Create data & dfs

In [45]:
b <- buys[1,]
s <- sells[1,]

### <font color = yellow>2. Update b - the variable that records each buy/sell transaction (w/in loop)
    
#### b>s, b<s, b==s,

In [46]:
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]

# dim(updated_b)
# dim

POC - updated_s when b > s:  SOLD

In [47]:
if(buys$type[i] == "Buy" && sells$type[i] == "Sell") {
    cat("Std buy-sell orientation \n")    
    }

Std buy-sell orientation

### <font color = yellow>3. Update the sales_records (rbind) with updated_b for each transaction (loop)

In [48]:
sale_records <- sale_records %>% add_row(updated_b , .before = 1)
# sale_records[1,]
# sale_records

#### <font color = yellow> 4. Update buys or sells with a new row (add_row) - whenever a transaction (loop) includes  c/f
    
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for

In [49]:
# # fct call
return_list <- update_buys_sells(buys, sells)
buys <- return_list[[1]]
sells <- return_list[[2]]

# dim(buys)
# dim(sells)

 There is Buy carryforward. Update buys  50
the s2cf_quan is:  950
the s2cf_pps is  6.255
printing updated buys[1 ], dim of buys increases with c/f

#### <font color = yellow>5. snips () Create a new variable from buys/sells row 1, then delete row 1 from buys and sells (copy_snip () )

In [50]:
copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
# dim(buys)
# dim(sells)
# # b1
# s1

 Contains buy carryforward - remove buys c/f row and DO snip sells

#### <font color = lime> QC: Loop 3 review buys & sells

In [51]:
dim(buys)
dim(sells)
head(buys, 5)
head(sells, 5)

[1] 22 23

[1] 17 23

  index date       type   co  quan pps    basis    sale_quan flag  buy_cf_quan
2  3    2023-01-20 Buy CF AMC   50 5.6250   281.25 0          TRUE 0
3  5    2023-01-23 Buy    AMC 1000 5.7880  5788.00 0         FALSE 0
4  7    2023-01-27 Buy    AMC 2000 5.2394 10478.80 0         FALSE 0
5  9    2023-02-10 Buy    AMC 2000 4.7450  9490.00 0         FALSE 0
6 11    2023-02-10 Buy    AMC 1000 4.7800  4780.00 0         FALSE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 ⋯ 0       0         0         0        0          0           0
3 ⋯ 0       0         0         0        0          0           0
4 ⋯ 0       0         0         0        0          0           0
5 ⋯ 0       0         0         0        0          0           0
6 ⋯ 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  3    2023-01-20 Sell CF AMC   50 5.5124     5.5124 0          TRUE
3  6    2023-02-03 Sell    AMC  950 5.5124  5236.7800 0         FALSE
4  8    2023-02-03 Sell    AMC 1000 6.1901  6190.1000 0         FALSE
5 10    2023-02-21 Sell    AMC 3000 5.8550 17565.0000 0         FALSE
6 16    2023-02-22 Sell    AMC 6000 6.6150 39690.0000 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
6 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0
6 0            0           0             0

#### <font color = lime> QC: Loop 2 review sale_record for accuracy

In [52]:
sale_records

  index date       type   co   quan pps   basis  sale_quan flag buy_cf_quan ⋯
1 3     2023-01-20 Buy    AMC  1000 5.625 5625.0  950      TRUE 0           ⋯
2 1     2022-12-31 Buy CF CFCF   50 4.070  203.5    0      TRUE 0           ⋯
3 1     2022-12-31 Buy    AMC  1050 4.070 4273.5 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.625   5343.75    950      5.5124   5236.78    -106.97     50
2 4.070    203.50     50      5.5124    275.62      72.12      0
3 4.070   4070.00   1000      5.5124   5512.40    1442.40     50
  sold_cf_pps sold_cf_basis true_false
1 5.625       281.25        0
2 0.000         0.00        1
3 4.070       203.50        0

In [53]:
# stoppps

# <font color = cyan> Proof of Concept above. End of loop 3

#### <font color = yellow> 1. Create data & dfs

In [54]:
b <- buys[1,]
s <- sells[1,]

### <font color = yellow> 2. Update b - the variable that records each buy/sell transaction (w/in loop)
    
#### b>s, b<s, b==s,

In [55]:
# fct call
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]
#dim(updated_b)
#dim(buys)

proof 3
proof
POC - updated_s when b == s:  EQ SOLD

In [56]:
if(buys$type[i] == "Buy" && sells$type[i] == "Sell") {
    cat("Std buy-sell orientation \n")    
    }

Std buy-sell orientation

### <font color = yellow>3. Update the sales_records (rbind) with updated_b for each transaction (loop)

In [57]:
# First go around needs rbind()
# sale_records <- rbind(sale_records, updated_b)    

sale_records <- sale_records %>% add_row(updated_b , .before = 1)
sale_records[1,]
sale_records

  index date       type   co   quan pps   basis  sale_quan flag buy_cf_quan ⋯
1 3     2023-01-20 Buy CF CFCF 50   5.625 281.25 0         TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.625   281.25    50        5.5124   275.62     -5.63       0
  sold_cf_pps sold_cf_basis true_false
1 0           0             1

  index date       type   co   quan pps   basis   sale_quan flag buy_cf_quan ⋯
1 3     2023-01-20 Buy CF CFCF   50 5.625  281.25    0      TRUE 0           ⋯
2 3     2023-01-20 Buy    AMC  1000 5.625 5625.00  950      TRUE 0           ⋯
3 1     2022-12-31 Buy CF CFCF   50 4.070  203.50    0      TRUE 0           ⋯
4 1     2022-12-31 Buy    AMC  1050 4.070 4273.50 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.625    281.25     50      5.5124    275.62      -5.63      0
2 5.625   5343.75    950      5.5124   5236.78    -106.97     50
3 4.070    203.50     50      5.5124    275.62      72.12      0
4 4.070   4070.00   1000      5.5124   5512.40    1442.40     50
  sold_cf_pps sold_cf_basis true_false
1 0.000         0.00        1
2 5.625       281.25        0
3 0.000         0.00        1
4 4.070       203.50        0

#### <font color = yellow> 4. Update buys or sells with a new row (add_row) - whenever a transaction (loop) includes  c/f
    
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for next (loop) buy/sell transaction

In [58]:
# fct call
return_list <- update_buys_sells(buys, sells)

# returned the updated to buys / sells
buys <- return_list[[1]]
sells <- return_list[[2]]

#dim(buys)
# dim(sells)

printing updated buys[1 ], dim of buys increases with c/f

#### <font color = yellow>5. snips () Create a new variable from buys/sells row 1, then delete row 1 from buys and sells (copy_snip () )

In [59]:
copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
# dim(buys)
# dim(sells)
# # b1
# s1

new condtional works for filtering in copy_snip when cf-cf


#### <font color = lime> QC: Loop  review buys & sells

In [60]:
sale_records

  index date       type   co   quan pps   basis   sale_quan flag buy_cf_quan ⋯
1 3     2023-01-20 Buy CF CFCF   50 5.625  281.25    0      TRUE 0           ⋯
2 3     2023-01-20 Buy    AMC  1000 5.625 5625.00  950      TRUE 0           ⋯
3 1     2022-12-31 Buy CF CFCF   50 4.070  203.50    0      TRUE 0           ⋯
4 1     2022-12-31 Buy    AMC  1050 4.070 4273.50 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.625    281.25     50      5.5124    275.62      -5.63      0
2 5.625   5343.75    950      5.5124   5236.78    -106.97     50
3 4.070    203.50     50      5.5124    275.62      72.12      0
4 4.070   4070.00   1000      5.5124   5512.40    1442.40     50
  sold_cf_pps sold_cf_basis true_false
1 0.000         0.00        1
2 5.625       281.25        0
3 0.000         0.00        1
4 4.070       203.50        0

#### <font color = lime> QC: Loop 2 review buys & sells

In [61]:
dim(buys)
dim(sells)
head(buys,4)
head(sells,4)

[1] 21 23

[1] 16 23

  index date       type co  quan pps    basis   sale_quan flag  buy_cf_quan ⋯
3  5    2023-01-23 Buy  AMC 1000 5.7880  5788.0 0         FALSE 0           ⋯
4  7    2023-01-27 Buy  AMC 2000 5.2394 10478.8 0         FALSE 0           ⋯
5  9    2023-02-10 Buy  AMC 2000 4.7450  9490.0 0         FALSE 0           ⋯
6 11    2023-02-10 Buy  AMC 1000 4.7800  4780.0 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3  6    2023-02-03 Sell AMC  950 5.5124  5236.78 0         FALSE 0           ⋯
4  8    2023-02-03 Sell AMC 1000 6.1901  6190.10 0         FALSE 0           ⋯
5 10    2023-02-21 Sell AMC 3000 5.8550 17565.00 0         FALSE 0           ⋯
6 16    2023-02-22 Sell AMC 6000 6.6150 39690.00 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

In [62]:
# stopps

# <font color = cyan> Proof of Concept above. End of loop 4

#### <font color = yellow> 1. Create data & dfs

In [63]:
b <- buys[1,]
s <- sells[1,]

### <font color = yellow> 2. Update b - the variable that records each buy/sell transaction (w/in loop)
    
#### b>s, b<s, b==s,

In [64]:
#fct call
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]
#dim(updated_b)
#dim(buys)

POC - updated_s when b > s:  SOLD

In [65]:
if(buys$type[i] == "Buy" && sells$type[i] == "Sell") {
    cat("Std buy-sell orientation \n")    
    }

Std buy-sell orientation

### <font color = yellow>3. Update the sales_records (rbind) with updated_b for each transaction (loop)

In [66]:
# First go around needs rbind()
# sale_records <- rbind(sale_records, updated_b)    

sale_records <- sale_records %>% add_row(updated_b , .before = 1)
sale_records[1,]
sale_records

  index date       type co  quan pps   basis sale_quan flag buy_cf_quan ⋯
1 5     2023-01-23 Buy  AMC 1000 5.788 5788  950       TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.788   5498.6    950       5.5124   5236.78    -261.82     50
  sold_cf_pps sold_cf_basis true_false
1 5.788       289.4         0

  index date       type   co   quan pps   basis   sale_quan flag buy_cf_quan ⋯
1 5     2023-01-23 Buy    AMC  1000 5.788 5788.00  950      TRUE 0           ⋯
2 3     2023-01-20 Buy CF CFCF   50 5.625  281.25    0      TRUE 0           ⋯
3 3     2023-01-20 Buy    AMC  1000 5.625 5625.00  950      TRUE 0           ⋯
4 1     2022-12-31 Buy CF CFCF   50 4.070  203.50    0      TRUE 0           ⋯
5 1     2022-12-31 Buy    AMC  1050 4.070 4273.50 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.788   5498.60    950      5.5124   5236.78    -261.82     50
2 5.625    281.25     50      5.5124    275.62      -5.63      0
3 5.625   5343.75    950      5.5124   5236.78    -106.97     50
4 4.070    203.50     50      5.5124    275.62      72.12      0
5 4.070   4070.00   1000      5.5124   5512.40    1442.40     50
  sold_cf_pps sold_cf_basis true_false
1 5.788       289.40        0
2 0.000         0.00        1
3 5.625       281.25        0
4 0.000         0.00        1
5 4.070       203.50        0

#### <font color = yellow> 4. Update buys or sells with a new row (add_row) - whenever a transaction (loop) includes  c/f

In [67]:
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for next (loop) buy/sell transaction


# fct call
return_list <- update_buys_sells(buys, sells)

# returned the updated to buys / sells
buys <- return_list[[1]]
sells <- return_list[[2]]

#dim(buys)
# dim(s

 There is Buy carryforward. Update buys  50
the s2cf_quan is:  950
the s2cf_pps is  6.1901
printing updated buys[1 ], dim of buys increases with c/f

#### <font color = yellow>5. snips () Create a new variable from buys/sells row 1, then delete row 1 from buys and sells (copy_snip () )

In [68]:

copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
# dim(buys)
# dim(sells)
# # b1
# s1

 Contains buy carryforward - remove buys c/f row and DO snip sells

#### <font color = lime> QC: Loop 5 review buys & sells

In [69]:
sale_records

  index date       type   co   quan pps   basis   sale_quan flag buy_cf_quan ⋯
1 5     2023-01-23 Buy    AMC  1000 5.788 5788.00  950      TRUE 0           ⋯
2 3     2023-01-20 Buy CF CFCF   50 5.625  281.25    0      TRUE 0           ⋯
3 3     2023-01-20 Buy    AMC  1000 5.625 5625.00  950      TRUE 0           ⋯
4 1     2022-12-31 Buy CF CFCF   50 4.070  203.50    0      TRUE 0           ⋯
5 1     2022-12-31 Buy    AMC  1050 4.070 4273.50 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.788   5498.60    950      5.5124   5236.78    -261.82     50
2 5.625    281.25     50      5.5124    275.62      -5.63      0
3 5.625   5343.75    950      5.5124   5236.78    -106.97     50
4 4.070    203.50     50      5.5124    275.62      72.12      0
5 4.070   4070.00   1000      5.5124   5512.40    1442.40     50
  sold_cf_pps sold_cf_basis true_false
1 5.788       289.40        0
2 0.000         0.00        1
3 5.625       281.25        0
4 0.000         0.00        1
5 4.070       203.50        0

#### <font color = lime> QC: Loop 5 review buys & sells

In [70]:
dim(buys)
dim(sells)
head(buys,4)
head(sells,4)

[1] 21 23

[1] 16 23

  index date       type   co  quan pps    basis   sale_quan flag  buy_cf_quan ⋯
2  5    2023-01-23 Buy CF AMC   50 5.7880   289.4 0          TRUE 0           ⋯
3  7    2023-01-27 Buy    AMC 2000 5.2394 10478.8 0         FALSE 0           ⋯
4  9    2023-02-10 Buy    AMC 2000 4.7450  9490.0 0         FALSE 0           ⋯
5 11    2023-02-10 Buy    AMC 1000 4.7800  4780.0 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 0       0         0         0        0          0           0
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  5    2023-01-23 Sell CF AMC   50 5.5124     5.5124 0          TRUE
3  8    2023-02-03 Sell    AMC  950 5.5124  5236.7800 0         FALSE
4 10    2023-02-21 Sell    AMC 3000 5.8550 17565.0000 0         FALSE
5 16    2023-02-22 Sell    AMC 6000 6.6150 39690.0000 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0

In [71]:
# stopps


# <font color = cyan> Proof of Concept above. End of loop 5

#### <font color = yellow> 1. Create data & dfs

In [72]:
b <- buys[1,]
s <- sells[1,]

### <font color = yellow> 2. Update b - the variable that records each buy/sell transaction (w/in loop)
#### b>s, b<s, b==s,

In [73]:

#fct call
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]
#dim(updated_b)
#dim(buys)

proof 3
proof
POC - updated_s when b == s:  EQ SOLD

In [74]:
if(buys$type[i] == "Buy" && sells$type[i+1] == "Sell") {
    cat("Std buy/sell row orientation?  buys$type[i] = : ", buys$type[i], "sells$type[i+1] = : ", sells$type[i+1],  "\n")    
    }

Std buy/sell row orientation?  buys$type[i] = :  Buy sells$type[i+1] = :  Sell

### <font color = yellow>3. Update the sales_records (rbind) with updated_b for each transaction (loop)

In [75]:
# First go around needs rbind()
# sale_records <- rbind(sale_records, updated_b)    

sale_records <- sale_records %>% add_row(updated_b , .before = 1)

sale_records

  index date       type   co   quan pps   basis   sale_quan flag buy_cf_quan ⋯
1 5     2023-01-23 Buy CF CFCF   50 5.788  289.40    0      TRUE 0           ⋯
2 5     2023-01-23 Buy    AMC  1000 5.788 5788.00  950      TRUE 0           ⋯
3 3     2023-01-20 Buy CF CFCF   50 5.625  281.25    0      TRUE 0           ⋯
4 3     2023-01-20 Buy    AMC  1000 5.625 5625.00  950      TRUE 0           ⋯
5 1     2022-12-31 Buy CF CFCF   50 4.070  203.50    0      TRUE 0           ⋯
6 1     2022-12-31 Buy    AMC  1050 4.070 4273.50 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.788    289.40     50      5.5124    275.62     -13.78      0
2 5.788   5498.60    950      5.5124   5236.78    -261.82     50
3 5.625    281.25     50      5.5124    275.62      -5.63      0
4 5.625   5343.75    950      5.5124   5236.78    -106.97     50
5 4.070    203.50     50      5.5124    275.62      72.12      0
6 4.070   4070.00   1000      5.5124   5512.40    1442.40     50
  sold_cf_pps sold_cf_basis true_false
1 0.000         0.00        1
2 5.788       289.40        0
3 0.000         0.00        1
4 5.625       281.25        0
5 0.000         0.00        1
6 4.070       203.50        0

In [76]:
head(buys,5)
head(sells,5)

  index date       type   co  quan pps    basis   sale_quan flag  buy_cf_quan ⋯
2  5    2023-01-23 Buy CF AMC   50 5.7880   289.4 0          TRUE 0           ⋯
3  7    2023-01-27 Buy    AMC 2000 5.2394 10478.8 0         FALSE 0           ⋯
4  9    2023-02-10 Buy    AMC 2000 4.7450  9490.0 0         FALSE 0           ⋯
5 11    2023-02-10 Buy    AMC 1000 4.7800  4780.0 0         FALSE 0           ⋯
6 12    2023-02-13 Buy    AMC 3000 4.7296 14188.8 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 0       0         0         0        0          0           0
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  5    2023-01-23 Sell CF AMC   50 5.5124     5.5124 0          TRUE
3  8    2023-02-03 Sell    AMC  950 5.5124  5236.7800 0         FALSE
4 10    2023-02-21 Sell    AMC 3000 5.8550 17565.0000 0         FALSE
5 16    2023-02-22 Sell    AMC 6000 6.6150 39690.0000 0         FALSE
6 18    2023-02-27 Sell    AMC 3000 7.8160 23448.0000 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
6 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0
6 0            0           0             0


#### <font color = yellow> 4. Update buys or sells with a new row (add_row) - whenever a transaction (loop) includes  c/f
    
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for next (loop) buy/sell transaction

In [77]:
# fct call
return_list <- update_buys_sells(buys, sells)

# returned the updated to buys / sells
buys <- return_list[[1]]
sells <- return_list[[2]]

#dim(buys)
# dim(sells)

printing updated buys[1 ], dim of buys increases with c/f

In [78]:
head(buys,5)
head(sells,5)

  index date       type   co  quan pps    basis   sale_quan flag  buy_cf_quan ⋯
2  5    2023-01-23 Buy CF AMC   50 5.7880   289.4 0          TRUE 0           ⋯
3  7    2023-01-27 Buy    AMC 2000 5.2394 10478.8 0         FALSE 0           ⋯
4  9    2023-02-10 Buy    AMC 2000 4.7450  9490.0 0         FALSE 0           ⋯
5 11    2023-02-10 Buy    AMC 1000 4.7800  4780.0 0         FALSE 0           ⋯
6 12    2023-02-13 Buy    AMC 3000 4.7296 14188.8 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 0       0         0         0        0          0           0
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  5    2023-01-23 Sell CF AMC   50 5.5124     5.5124 0          TRUE
3  8    2023-02-03 Sell    AMC  950 5.5124  5236.7800 0         FALSE
4 10    2023-02-21 Sell    AMC 3000 5.8550 17565.0000 0         FALSE
5 16    2023-02-22 Sell    AMC 6000 6.6150 39690.0000 0         FALSE
6 18    2023-02-27 Sell    AMC 3000 7.8160 23448.0000 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
6 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0
6 0            0           0             0

#### <font color = yellow>5. snips () Create a new variable from buys/sells row 1, then delete row 1 from buys and sells (copy_snip () )

In [79]:
copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
# dim(buys)
# dim(sells)
# # b1
# s1

new condtional works for filtering in copy_snip when cf-cf

In [80]:
head(buys,5)
head(sells,5)

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3  7    2023-01-27 Buy  AMC 2000 5.2394 10478.80 0         FALSE 0           ⋯
4  9    2023-02-10 Buy  AMC 2000 4.7450  9490.00 0         FALSE 0           ⋯
5 11    2023-02-10 Buy  AMC 1000 4.7800  4780.00 0         FALSE 0           ⋯
6 12    2023-02-13 Buy  AMC 3000 4.7296 14188.80 0         FALSE 0           ⋯
7 13    2023-02-13 Buy  AMC 1500 4.7183  7077.45 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
7 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0
7 0           0             0

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3  8    2023-02-03 Sell AMC  950 5.5124  5236.78 0         FALSE 0           ⋯
4 10    2023-02-21 Sell AMC 3000 5.8550 17565.00 0         FALSE 0           ⋯
5 16    2023-02-22 Sell AMC 6000 6.6150 39690.00 0         FALSE 0           ⋯
6 18    2023-02-27 Sell AMC 3000 7.8160 23448.00 0         FALSE 0           ⋯
7 19    2023-02-27 Sell AMC 1850 7.5850 14032.25 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
7 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0
7 0           0             0

#### <font color = lime> QC: Loop 6 review buys & sells

In [81]:
sale_records

  index date       type   co   quan pps   basis   sale_quan flag buy_cf_quan ⋯
1 5     2023-01-23 Buy CF CFCF   50 5.788  289.40    0      TRUE 0           ⋯
2 5     2023-01-23 Buy    AMC  1000 5.788 5788.00  950      TRUE 0           ⋯
3 3     2023-01-20 Buy CF CFCF   50 5.625  281.25    0      TRUE 0           ⋯
4 3     2023-01-20 Buy    AMC  1000 5.625 5625.00  950      TRUE 0           ⋯
5 1     2022-12-31 Buy CF CFCF   50 4.070  203.50    0      TRUE 0           ⋯
6 1     2022-12-31 Buy    AMC  1050 4.070 4273.50 1000      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.788    289.40     50      5.5124    275.62     -13.78      0
2 5.788   5498.60    950      5.5124   5236.78    -261.82     50
3 5.625    281.25     50      5.5124    275.62      -5.63      0
4 5.625   5343.75    950      5.5124   5236.78    -106.97     50
5 4.070    203.50     50      5.5124    275.62      72.12      0
6 4.070   4070.00   1000      5.5124   5512.40    1442.40     50
  sold_cf_pps sold_cf_basis true_false
1 0.000         0.00        1
2 5.788       289.40        0
3 0.000         0.00        1
4 5.625       281.25        0
5 0.000         0.00        1
6 4.070       203.50        0

#### <font color = lime> QC: Loop 6 review buys & sells

In [82]:
dim(buys)
dim(sells)
head(buys,4)
head(sells,4)

[1] 20 23

[1] 15 23

  index date       type co  quan pps    basis   sale_quan flag  buy_cf_quan ⋯
3  7    2023-01-27 Buy  AMC 2000 5.2394 10478.8 0         FALSE 0           ⋯
4  9    2023-02-10 Buy  AMC 2000 4.7450  9490.0 0         FALSE 0           ⋯
5 11    2023-02-10 Buy  AMC 1000 4.7800  4780.0 0         FALSE 0           ⋯
6 12    2023-02-13 Buy  AMC 3000 4.7296 14188.8 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3  8    2023-02-03 Sell AMC  950 5.5124  5236.78 0         FALSE 0           ⋯
4 10    2023-02-21 Sell AMC 3000 5.8550 17565.00 0         FALSE 0           ⋯
5 16    2023-02-22 Sell AMC 6000 6.6150 39690.00 0         FALSE 0           ⋯
6 18    2023-02-27 Sell AMC 3000 7.8160 23448.00 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

In [83]:
# stopps

# <font color = cyan> Proof of Concept above. End of loop 6

#### <font color = yellow> 1. Create data & dfs

In [84]:
b <- buys[1,]
s <- sells[1,]

### <font color = yellow> 2. Update b - the variable that records each buy/sell transaction (w/in loop)
    
#### b>s, b<s, b==s,

In [85]:
#fct call
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]
#dim(updated_b)
#dim(buys)

POC - updated_s when b > s:  SOLD

In [86]:
if(buys$type[i] == "Buy" && sells$type[i] == "Sell") {
    cat("Std buy-sell orientation \n")    
    }

Std buy-sell orientation

### <font color = yellow>3. Update the sales_records (rbind) with updated_b for each transaction (loop)

In [87]:
# First go around needs rbind()
# sale_records <- rbind(sale_records, updated_b)    

sale_records <- sale_records %>% add_row(updated_b , .before = 1)
sale_records[1,]
sale_records

  index date       type co  quan pps    basis   sale_quan flag buy_cf_quan ⋯
1 7     2023-01-27 Buy  AMC 2000 5.2394 10478.8 950       TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.2394  4977.43   950       5.5124   5236.78    259.35      1050
  sold_cf_pps sold_cf_basis true_false
1 5.2394      5501.37       0

  index date       type   co   quan pps    basis    sale_quan flag buy_cf_quan
1 7     2023-01-27 Buy    AMC  2000 5.2394 10478.80  950      TRUE 0
2 5     2023-01-23 Buy CF CFCF   50 5.7880   289.40    0      TRUE 0
3 5     2023-01-23 Buy    AMC  1000 5.7880  5788.00  950      TRUE 0
4 3     2023-01-20 Buy CF CFCF   50 5.6250   281.25    0      TRUE 0
5 3     2023-01-20 Buy    AMC  1000 5.6250  5625.00  950      TRUE 0
6 1     2022-12-31 Buy CF CFCF   50 4.0700   203.50    0      TRUE 0
7 1     2022-12-31 Buy    AMC  1050 4.0700  4273.50 1000      TRUE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 ⋯ 5.2394  4977.43    950      5.5124   5236.78     259.35     1050
2 ⋯ 5.7880   289.40     50      5.5124    275.62     -13.78        0
3 ⋯ 5.7880  5498.60    950      5.5124   5236.78    -261.82       50
4 ⋯ 5.6250   281.25     50      5.5124    275.62      -5.63        0
5 ⋯ 5.6250  5343.75    950      5.5124   5236.78    -106.97       50
6 ⋯ 4.0700   203.50     50      5.5124    275.62      72.12        0
7 ⋯ 4.0700  4070.00   1000      5.5124   5512.40    1442.40       50
  sold_cf_pps sold_cf_basis true_false
1 5.2394      5501.37       0
2 0.0000         0.00       1
3 5.7880       289.40       0
4 0.0000         0.00       1
5 5.6250       281.25       0
6 0.0000         0.00       1
7 4.0700       203.50       0

In [88]:
head(buys,5)
head(sells,5)

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3  7    2023-01-27 Buy  AMC 2000 5.2394 10478.80 0          TRUE 0           ⋯
4  9    2023-02-10 Buy  AMC 2000 4.7450  9490.00 0         FALSE 0           ⋯
5 11    2023-02-10 Buy  AMC 1000 4.7800  4780.00 0         FALSE 0           ⋯
6 12    2023-02-13 Buy  AMC 3000 4.7296 14188.80 0         FALSE 0           ⋯
7 13    2023-02-13 Buy  AMC 1500 4.7183  7077.45 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
7 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0
7 0           0             0

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3  8    2023-02-03 Sell AMC  950 5.5124  5236.78 0         FALSE 0           ⋯
4 10    2023-02-21 Sell AMC 3000 5.8550 17565.00 0         FALSE 0           ⋯
5 16    2023-02-22 Sell AMC 6000 6.6150 39690.00 0         FALSE 0           ⋯
6 18    2023-02-27 Sell AMC 3000 7.8160 23448.00 0         FALSE 0           ⋯
7 19    2023-02-27 Sell AMC 1850 7.5850 14032.25 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
7 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0
7 0           0             0


#### <font color = yellow> 4. Update buys or sells with a new row (add_row) - whenever a transaction (loop) includes  c/f
    
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for next (loop) buy/sell transaction

In [89]:
# fct call
return_list <- update_buys_sells(buys, sells)

# returned the updated to buys / sells
buys <- return_list[[1]]
sells <- return_list[[2]]

#dim(buys)
# dim(sells)

 There is Buy carryforward. Update buys  1050
the s2cf_quan is:  1950
the s2cf_pps is  5.855
printing updated buys[1 ], dim of buys increases with c/f

In [90]:
head(buys,5)
head(sells,5)

  index date       type   co  quan pps    basis    sale_quan flag  buy_cf_quan
1  7    2023-01-27 Buy    AMC 2000 5.2394 10478.80 0          TRUE 0
2  7    2023-01-27 Buy CF AMC 1050 5.2394  5501.37 0          TRUE 0
3  9    2023-02-10 Buy    AMC 2000 4.7450  9490.00 0         FALSE 0
4 11    2023-02-10 Buy    AMC 1000 4.7800  4780.00 0         FALSE 0
5 12    2023-02-13 Buy    AMC 3000 4.7296 14188.80 0         FALSE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 ⋯ 0       0         0         0        0          0           0
2 ⋯ 0       0         0         0        0          0           0
3 ⋯ 0       0         0         0        0          0           0
4 ⋯ 0       0         0         0        0          0           0
5 ⋯ 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             0
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  7    2023-01-27 Sell CF AMC 1050 5.5124     5.5124 0          TRUE
2  8    2023-02-03 Sell    AMC  950 5.5124  5236.7800 0         FALSE
3 10    2023-02-21 Sell    AMC 1950 5.5124 10749.1800 0         FALSE
4 16    2023-02-22 Sell    AMC 6000 6.6150 39690.0000 0         FALSE
5 18    2023-02-27 Sell    AMC 3000 7.8160 23448.0000 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
2 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
2 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0

#### <font color = yellow>5. snips () Create a new variable from buys/sells row 1, then delete row 1 from buys and sells (copy_snip () )

In [91]:
copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
# dim(buys)
# dim(sells)
# # b1
# s1

 Contains buy carryforward - remove buys c/f row and DO snip sells

#### <font color = lime> QC: Loop 7 review buys & sells

In [92]:
sale_records

  index date       type   co   quan pps    basis    sale_quan flag buy_cf_quan
1 7     2023-01-27 Buy    AMC  2000 5.2394 10478.80  950      TRUE 0
2 5     2023-01-23 Buy CF CFCF   50 5.7880   289.40    0      TRUE 0
3 5     2023-01-23 Buy    AMC  1000 5.7880  5788.00  950      TRUE 0
4 3     2023-01-20 Buy CF CFCF   50 5.6250   281.25    0      TRUE 0
5 3     2023-01-20 Buy    AMC  1000 5.6250  5625.00  950      TRUE 0
6 1     2022-12-31 Buy CF CFCF   50 4.0700   203.50    0      TRUE 0
7 1     2022-12-31 Buy    AMC  1050 4.0700  4273.50 1000      TRUE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 ⋯ 5.2394  4977.43    950      5.5124   5236.78     259.35     1050
2 ⋯ 5.7880   289.40     50      5.5124    275.62     -13.78        0
3 ⋯ 5.7880  5498.60    950      5.5124   5236.78    -261.82       50
4 ⋯ 5.6250   281.25     50      5.5124    275.62      -5.63        0
5 ⋯ 5.6250  5343.75    950      5.5124   5236.78    -106.97       50
6 ⋯ 4.0700   203.50     50      5.5124    275.62      72.12        0
7 ⋯ 4.0700  4070.00   1000      5.5124   5512.40    1442.40       50
  sold_cf_pps sold_cf_basis true_false
1 5.2394      5501.37       0
2 0.0000         0.00       1
3 5.7880       289.40       0
4 0.0000         0.00       1
5 5.6250       281.25       0
6 0.0000         0.00       1
7 4.0700       203.50       0

#### <font color = lime> QC: Loop 7 review buys & sells

In [93]:
dim(buys)
dim(sells)
head(buys,4)
head(sells,4)

[1] 20 23

[1] 15 23

  index date       type   co  quan pps    basis    sale_quan flag  buy_cf_quan
2  7    2023-01-27 Buy CF AMC 1050 5.2394  5501.37 0          TRUE 0
3  9    2023-02-10 Buy    AMC 2000 4.7450  9490.00 0         FALSE 0
4 11    2023-02-10 Buy    AMC 1000 4.7800  4780.00 0         FALSE 0
5 12    2023-02-13 Buy    AMC 3000 4.7296 14188.80 0         FALSE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 ⋯ 0       0         0         0        0          0           0
3 ⋯ 0       0         0         0        0          0           0
4 ⋯ 0       0         0         0        0          0           0
5 ⋯ 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  7    2023-01-27 Sell CF AMC 1050 5.5124     5.5124 0          TRUE
3 10    2023-02-21 Sell    AMC 1950 5.5124 10749.1800 0         FALSE
4 16    2023-02-22 Sell    AMC 6000 6.6150 39690.0000 0         FALSE
5 18    2023-02-27 Sell    AMC 3000 7.8160 23448.0000 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0

In [94]:
# stopps

# <font color = cyan> Proof of Concept above. End of loop 7

#### <font color = yellow> 1. Create data & dfs

In [95]:
b <- buys[1,]
s <- sells[1,]

### <font color = yellow> 2. Update b - the variable that records each buy/sell transaction (w/in loop)
    
#### b>s, b<s, b==s,

In [96]:
#fct call
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]
#dim(updated_b)
#dim(buys)

proof 3
proof
POC - updated_s when b == s:  EQ SOLD

In [97]:
if(buys$type[i] == "Buy" && sells$type[i] == "Sell") {
    cat("Std buy-sell orientation \n")    
    }

Std buy-sell orientation

### <font color = yellow>3. Update the sales_records (rbind) with updated_b for each transaction (loop)

In [98]:
# First go around needs rbind()
# sale_records <- rbind(sale_records, updated_b)    

sale_records <- sale_records %>% add_row(updated_b , .before = 1)
sale_records[1,]
sale_records

  index date       type   co   quan pps    basis   sale_quan flag buy_cf_quan ⋯
1 7     2023-01-27 Buy CF CFCF 1050 5.2394 5501.37 0         TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 5.2394  5501.37   1050      5.5124   5788.02    286.65      0
  sold_cf_pps sold_cf_basis true_false
1 0           0             1

  index date       type   co   quan pps    basis    sale_quan flag buy_cf_quan
1 7     2023-01-27 Buy CF CFCF 1050 5.2394  5501.37    0      TRUE 0
2 7     2023-01-27 Buy    AMC  2000 5.2394 10478.80  950      TRUE 0
3 5     2023-01-23 Buy CF CFCF   50 5.7880   289.40    0      TRUE 0
4 5     2023-01-23 Buy    AMC  1000 5.7880  5788.00  950      TRUE 0
5 3     2023-01-20 Buy CF CFCF   50 5.6250   281.25    0      TRUE 0
6 3     2023-01-20 Buy    AMC  1000 5.6250  5625.00  950      TRUE 0
7 1     2022-12-31 Buy CF CFCF   50 4.0700   203.50    0      TRUE 0
8 1     2022-12-31 Buy    AMC  1050 4.0700  4273.50 1000      TRUE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 ⋯ 5.2394  5501.37   1050      5.5124   5788.02     286.65        0
2 ⋯ 5.2394  4977.43    950      5.5124   5236.78     259.35     1050
3 ⋯ 5.7880   289.40     50      5.5124    275.62     -13.78        0
4 ⋯ 5.7880  5498.60    950      5.5124   5236.78    -261.82       50
5 ⋯ 5.6250   281.25     50      5.5124    275.62      -5.63        0
6 ⋯ 5.6250  5343.75    950      5.5124   5236.78    -106.97       50
7 ⋯ 4.0700   203.50     50      5.5124    275.62      72.12        0
8 ⋯ 4.0700  4070.00   1000      5.5124   5512.40    1442.40       50
  sold_cf_pps sold_cf_basis true_false
1 0.0000         0.00       1
2 5.2394      5501.37       0
3 0.0000         0.00       1
4 5.7880       289.40       0
5 0.0000         0.00       1
6 5.6250       281.25       0
7 0.0000         0.00       1
8 4.0700       203.50       0

In [99]:
head(buys,5)
head(sells,5)

  index date       type   co  quan pps    basis    sale_quan flag  buy_cf_quan
2  7    2023-01-27 Buy CF AMC 1050 5.2394  5501.37 0          TRUE 0
3  9    2023-02-10 Buy    AMC 2000 4.7450  9490.00 0         FALSE 0
4 11    2023-02-10 Buy    AMC 1000 4.7800  4780.00 0         FALSE 0
5 12    2023-02-13 Buy    AMC 3000 4.7296 14188.80 0         FALSE 0
6 13    2023-02-13 Buy    AMC 1500 4.7183  7077.45 0         FALSE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 ⋯ 0       0         0         0        0          0           0
3 ⋯ 0       0         0         0        0          0           0
4 ⋯ 0       0         0         0        0          0           0
5 ⋯ 0       0         0         0        0          0           0
6 ⋯ 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  7    2023-01-27 Sell CF AMC 1050 5.5124     5.5124 0          TRUE
3 10    2023-02-21 Sell    AMC 1950 5.5124 10749.1800 0         FALSE
4 16    2023-02-22 Sell    AMC 6000 6.6150 39690.0000 0         FALSE
5 18    2023-02-27 Sell    AMC 3000 7.8160 23448.0000 0         FALSE
6 19    2023-02-27 Sell    AMC 1850 7.5850 14032.2500 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
6 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0
6 0            0           0             0

#### <font color = yellow> 4. Update buys or sells with a new row (add_row) - whenever a transaction (loop) includes  c/f
    
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for next (loop) buy/sell transaction

In [100]:
# fct call
return_list <- update_buys_sells(buys, sells)

# returned the updated to buys / sells
buys <- return_list[[1]]
sells <- return_list[[2]]

#dim(buys)
# dim(sells)

printing updated buys[1 ], dim of buys increases with c/f

In [101]:
head(buys,5)
head(sells,5)

  index date       type   co  quan pps    basis    sale_quan flag  buy_cf_quan
2  7    2023-01-27 Buy CF AMC 1050 5.2394  5501.37 0          TRUE 0
3  9    2023-02-10 Buy    AMC 2000 4.7450  9490.00 0         FALSE 0
4 11    2023-02-10 Buy    AMC 1000 4.7800  4780.00 0         FALSE 0
5 12    2023-02-13 Buy    AMC 3000 4.7296 14188.80 0         FALSE 0
6 13    2023-02-13 Buy    AMC 1500 4.7183  7077.45 0         FALSE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 ⋯ 0       0         0         0        0          0           0
3 ⋯ 0       0         0         0        0          0           0
4 ⋯ 0       0         0         0        0          0           0
5 ⋯ 0       0         0         0        0          0           0
6 ⋯ 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  7    2023-01-27 Sell CF AMC 1050 5.5124     5.5124 0          TRUE
3 10    2023-02-21 Sell    AMC 1950 5.5124 10749.1800 0         FALSE
4 16    2023-02-22 Sell    AMC 6000 6.6150 39690.0000 0         FALSE
5 18    2023-02-27 Sell    AMC 3000 7.8160 23448.0000 0         FALSE
6 19    2023-02-27 Sell    AMC 1850 7.5850 14032.2500 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
6 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0
6 0            0           0             0

#### <font color = yellow>5. snips () Create a new variable from buys/sells row 1, then delete row 1 from buys and sells (copy_snip () )

In [102]:
copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
# dim(buys)
# dim(sells)
# # b1
# s1

new condtional works for filtering in copy_snip when cf-cf

#### <font color = lime> QC: Loop 8 review buys & sells

In [103]:
sale_records

  index date       type   co   quan pps    basis    sale_quan flag buy_cf_quan
1 7     2023-01-27 Buy CF CFCF 1050 5.2394  5501.37    0      TRUE 0
2 7     2023-01-27 Buy    AMC  2000 5.2394 10478.80  950      TRUE 0
3 5     2023-01-23 Buy CF CFCF   50 5.7880   289.40    0      TRUE 0
4 5     2023-01-23 Buy    AMC  1000 5.7880  5788.00  950      TRUE 0
5 3     2023-01-20 Buy CF CFCF   50 5.6250   281.25    0      TRUE 0
6 3     2023-01-20 Buy    AMC  1000 5.6250  5625.00  950      TRUE 0
7 1     2022-12-31 Buy CF CFCF   50 4.0700   203.50    0      TRUE 0
8 1     2022-12-31 Buy    AMC  1050 4.0700  4273.50 1000      TRUE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 ⋯ 5.2394  5501.37   1050      5.5124   5788.02     286.65        0
2 ⋯ 5.2394  4977.43    950      5.5124   5236.78     259.35     1050
3 ⋯ 5.7880   289.40     50      5.5124    275.62     -13.78        0
4 ⋯ 5.7880  5498.60    950      5.5124   5236.78    -261.82       50
5 ⋯ 5.6250   281.25     50      5.5124    275.62      -5.63        0
6 ⋯ 5.6250  5343.75    950      5.5124   5236.78    -106.97       50
7 ⋯ 4.0700   203.50     50      5.5124    275.62      72.12        0
8 ⋯ 4.0700  4070.00   1000      5.5124   5512.40    1442.40       50
  sold_cf_pps sold_cf_basis true_false
1 0.0000         0.00       1
2 5.2394      5501.37       0
3 0.0000         0.00       1
4 5.7880       289.40       0
5 0.0000         0.00       1
6 5.6250       281.25       0
7 0.0000         0.00       1
8 4.0700       203.50       0

#### <font color = lime> QC: Loop 8 review buys & sells

In [104]:
dim(buys)
dim(sells)
head(buys,4)
head(sells,4)

[1] 19 23

[1] 14 23

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3  9    2023-02-10 Buy  AMC 2000 4.7450  9490.00 0         FALSE 0           ⋯
4 11    2023-02-10 Buy  AMC 1000 4.7800  4780.00 0         FALSE 0           ⋯
5 12    2023-02-13 Buy  AMC 3000 4.7296 14188.80 0         FALSE 0           ⋯
6 13    2023-02-13 Buy  AMC 1500 4.7183  7077.45 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3 10    2023-02-21 Sell AMC 1950 5.5124 10749.18 0         FALSE 0           ⋯
4 16    2023-02-22 Sell AMC 6000 6.6150 39690.00 0         FALSE 0           ⋯
5 18    2023-02-27 Sell AMC 3000 7.8160 23448.00 0         FALSE 0           ⋯
6 19    2023-02-27 Sell AMC 1850 7.5850 14032.25 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

In [105]:
# stopps

# <font color = cyan> Proof of Concept above. End of loop 8

#### <font color = yellow> 1. Create data & dfs

In [106]:
b <- buys[1,]
s <- sells[1,]

### <font color = yellow> 2. Update b - the variable that records each buy/sell transaction (w/in loop)
    
#### b>s, b<s, b==s,

In [107]:
#fct call
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]
#dim(updated_b)
#dim(buys)

POC - updated_s when b > s:  SOLD

In [108]:
if(buys$type[i] == "Buy" && sells$type[i] == "Sell") {
    cat("Std buy-sell orientation \n")    
    }

Std buy-sell orientation

### <font color = yellow>3. Update the sales_records (rbind) with updated_b for each transaction (loop)

In [109]:

# First go around needs rbind()
# sale_records <- rbind(sale_records, updated_b)    

sale_records <- sale_records %>% add_row(updated_b , .before = 1)
sale_records[1,]
sale_records

  index date       type co  quan pps   basis sale_quan flag buy_cf_quan ⋯
1 9     2023-02-10 Buy  AMC 2000 4.745 9490  1950      TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.745   9252.75   1950      5.5124   10749.18   1496.43     50
  sold_cf_pps sold_cf_basis true_false
1 4.745       237.25        0

  index date       type   co   quan pps    basis    sale_quan flag buy_cf_quan
1 9     2023-02-10 Buy    AMC  2000 4.7450  9490.00 1950      TRUE 0
2 7     2023-01-27 Buy CF CFCF 1050 5.2394  5501.37    0      TRUE 0
3 7     2023-01-27 Buy    AMC  2000 5.2394 10478.80  950      TRUE 0
4 5     2023-01-23 Buy CF CFCF   50 5.7880   289.40    0      TRUE 0
5 5     2023-01-23 Buy    AMC  1000 5.7880  5788.00  950      TRUE 0
6 3     2023-01-20 Buy CF CFCF   50 5.6250   281.25    0      TRUE 0
7 3     2023-01-20 Buy    AMC  1000 5.6250  5625.00  950      TRUE 0
8 1     2022-12-31 Buy CF CFCF   50 4.0700   203.50    0      TRUE 0
9 1     2022-12-31 Buy    AMC  1050 4.0700  4273.50 1000      TRUE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 ⋯ 4.7450  9252.75   1950      5.5124   10749.18   1496.43       50
2 ⋯ 5.2394  5501.37   1050      5.5124    5788.02    286.65        0
3 ⋯ 5.2394  4977.43    950      5.5124    5236.78    259.35     1050
4 ⋯ 5.7880   289.40     50      5.5124     275.62    -13.78        0
5 ⋯ 5.7880  5498.60    950      5.5124    5236.78   -261.82       50
6 ⋯ 5.6250   281.25     50      5.5124     275.62     -5.63        0
7 ⋯ 5.6250  5343.75    950      5.5124    5236.78   -106.97       50
8 ⋯ 4.0700   203.50     50      5.5124     275.62     72.12        0
9 ⋯ 4.0700  4070.00   1000      5.5124    5512.40   1442.40       50
  sold_cf_pps sold_cf_basis true_false
1 4.7450       237.25       0
2 0.0000         0.00       1
3 5.2394      5501.37       0
4 0.0000         0.00       1
5 5.7880       289.40       0
6 0.0000         0.00       1
7 5.6250       281.25       0
8 0.0000         0.00       1
9 4.0700       203.50       0

In [110]:
head(buys,5)
head(sells,5)

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3  9    2023-02-10 Buy  AMC 2000 4.7450  9490.00 0          TRUE 0           ⋯
4 11    2023-02-10 Buy  AMC 1000 4.7800  4780.00 0         FALSE 0           ⋯
5 12    2023-02-13 Buy  AMC 3000 4.7296 14188.80 0         FALSE 0           ⋯
6 13    2023-02-13 Buy  AMC 1500 4.7183  7077.45 0         FALSE 0           ⋯
7 14    2023-02-13 Buy  AMC  300 4.7167  1415.01 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
7 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0
7 0           0             0

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3 10    2023-02-21 Sell AMC 1950 5.5124 10749.18 0         FALSE 0           ⋯
4 16    2023-02-22 Sell AMC 6000 6.6150 39690.00 0         FALSE 0           ⋯
5 18    2023-02-27 Sell AMC 3000 7.8160 23448.00 0         FALSE 0           ⋯
6 19    2023-02-27 Sell AMC 1850 7.5850 14032.25 0         FALSE 0           ⋯
7 20    2023-02-27 Sell AMC 1000 7.8160  7816.00 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
7 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0
7 0           0             0

#### <font color = yellow> 4. Update buys or sells with a new row (add_row) - whenever a transaction (loop) includes  c/f
    
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for next (loop) buy/sell transaction

In [111]:
# fct call
return_list <- update_buys_sells(buys, sells)

# returned the updated to buys / sells
buys <- return_list[[1]]
sells <- return_list[[2]]

#dim(buys)
# dim(sells)

 There is Buy carryforward. Update buys  50
the s2cf_quan is:  5950
the s2cf_pps is  6.615
printing updated buys[1 ], dim of buys increases with c/f

In [112]:
head(buys,5)
head(sells,5)

  index date       type   co  quan pps    basis    sale_quan flag  buy_cf_quan
1  9    2023-02-10 Buy    AMC 2000 4.7450  9490.00 0          TRUE 0
2  9    2023-02-10 Buy CF AMC   50 4.7450   237.25 0          TRUE 0
3 11    2023-02-10 Buy    AMC 1000 4.7800  4780.00 0         FALSE 0
4 12    2023-02-13 Buy    AMC 3000 4.7296 14188.80 0         FALSE 0
5 13    2023-02-13 Buy    AMC 1500 4.7183  7077.45 0         FALSE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 ⋯ 0       0         0         0        0          0           0
2 ⋯ 0       0         0         0        0          0           0
3 ⋯ 0       0         0         0        0          0           0
4 ⋯ 0       0         0         0        0          0           0
5 ⋯ 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
1 0           0             0
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  9    2023-02-10 Sell CF AMC   50 5.5124     5.5124 0          TRUE
2 10    2023-02-21 Sell    AMC 1950 5.5124 10749.1800 0         FALSE
3 16    2023-02-22 Sell    AMC 5950 5.5124 32798.7800 0         FALSE
4 18    2023-02-27 Sell    AMC 3000 7.8160 23448.0000 0         FALSE
5 19    2023-02-27 Sell    AMC 1850 7.5850 14032.2500 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
2 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
2 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0

#### <font color = yellow>5. snips () Create a new variable from buys/sells row 1, then delete row 1 from buys and sells (copy_snip () )

In [113]:
copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
# dim(buys)
# dim(sells)
# # b1
# s1

 Contains buy carryforward - remove buys c/f row and DO snip sells

#### <font color = lime> QC: Loop 9 review buys & sells

In [114]:
sale_records

  index date       type   co   quan pps    basis    sale_quan flag buy_cf_quan
1 9     2023-02-10 Buy    AMC  2000 4.7450  9490.00 1950      TRUE 0
2 7     2023-01-27 Buy CF CFCF 1050 5.2394  5501.37    0      TRUE 0
3 7     2023-01-27 Buy    AMC  2000 5.2394 10478.80  950      TRUE 0
4 5     2023-01-23 Buy CF CFCF   50 5.7880   289.40    0      TRUE 0
5 5     2023-01-23 Buy    AMC  1000 5.7880  5788.00  950      TRUE 0
6 3     2023-01-20 Buy CF CFCF   50 5.6250   281.25    0      TRUE 0
7 3     2023-01-20 Buy    AMC  1000 5.6250  5625.00  950      TRUE 0
8 1     2022-12-31 Buy CF CFCF   50 4.0700   203.50    0      TRUE 0
9 1     2022-12-31 Buy    AMC  1050 4.0700  4273.50 1000      TRUE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 ⋯ 4.7450  9252.75   1950      5.5124   10749.18   1496.43       50
2 ⋯ 5.2394  5501.37   1050      5.5124    5788.02    286.65        0
3 ⋯ 5.2394  4977.43    950      5.5124    5236.78    259.35     1050
4 ⋯ 5.7880   289.40     50      5.5124     275.62    -13.78        0
5 ⋯ 5.7880  5498.60    950      5.5124    5236.78   -261.82       50
6 ⋯ 5.6250   281.25     50      5.5124     275.62     -5.63        0
7 ⋯ 5.6250  5343.75    950      5.5124    5236.78   -106.97       50
8 ⋯ 4.0700   203.50     50      5.5124     275.62     72.12        0
9 ⋯ 4.0700  4070.00   1000      5.5124    5512.40   1442.40       50
  sold_cf_pps sold_cf_basis true_false
1 4.7450       237.25       0
2 0.0000         0.00       1
3 5.2394      5501.37       0
4 0.0000         0.00       1
5 5.7880       289.40       0
6 0.0000         0.00       1
7 5.6250       281.25       0
8 0.0000         0.00       1
9 4.0700       203.50       0

#### <font color = lime> QC: Loop 9 review buys & sells

In [115]:
dim(buys)
dim(sells)
head(buys,4)
head(sells,4)

[1] 19 23

[1] 14 23

  index date       type   co  quan pps    basis    sale_quan flag  buy_cf_quan
2  9    2023-02-10 Buy CF AMC   50 4.7450   237.25 0          TRUE 0
3 11    2023-02-10 Buy    AMC 1000 4.7800  4780.00 0         FALSE 0
4 12    2023-02-13 Buy    AMC 3000 4.7296 14188.80 0         FALSE 0
5 13    2023-02-13 Buy    AMC 1500 4.7183  7077.45 0         FALSE 0
  ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
2 ⋯ 0       0         0         0        0          0           0
3 ⋯ 0       0         0         0        0          0           0
4 ⋯ 0       0         0         0        0          0           0
5 ⋯ 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
2 0           0             0
3 0           0             0
4 0           0             0
5 0           0             0

  index date       type    co  quan pps    basis      sale_quan flag
1  9    2023-02-10 Sell CF AMC   50 5.5124     5.5124 0          TRUE
3 16    2023-02-22 Sell    AMC 5950 5.5124 32798.7800 0         FALSE
4 18    2023-02-27 Sell    AMC 3000 7.8160 23448.0000 0         FALSE
5 19    2023-02-27 Sell    AMC 1850 7.5850 14032.2500 0         FALSE
  buy_cf_quan ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0           ⋯ 0       0         0         0        0          0
3 0           ⋯ 0       0         0         0        0          0
4 0           ⋯ 0       0         0         0        0          0
5 0           ⋯ 0       0         0         0        0          0
  sold_cf_quan sold_cf_pps sold_cf_basis true_false
1 0            0           0             0
3 0            0           0             0
4 0            0           0             0
5 0            0           0             0

In [116]:
# stopps

# <font color = cyan> Proof of Concept above. End of loop 9

#### <font color = yellow> 1. Create data & dfs

In [117]:
b <- buys[1,]
s <- sells[1,]

### <font color = yellow> 2. Update b - the variable that records each buy/sell transaction (w/in loop)
    
#### b>s, b<s, b==s,

In [118]:
#fct call
updated_b_list <- update_b(b,s,buys)

updated_b <- updated_b_list[[1]]
updated_s <- updated_b_list[[2]]
buys <- updated_b_list[[3]]
#dim(updated_b)
#dim(buys)

proof 3
proof
POC - updated_s when b == s:  EQ SOLD

In [119]:
if(buys$type[i] == "Buy" && sells$type[i] == "Sell") {
    cat("Std buy-sell orientation \n")    
    }

Std buy-sell orientation

### <font color = yellow>3. Update the sales_records (rbind) with updated_b for each transaction (loop)

In [120]:
# First go around needs rbind()
# sale_records <- rbind(sale_records, updated_b)    

sale_records <- sale_records %>% add_row(updated_b , .before = 1)
sale_records[1,]
sale_records

  index date       type   co   quan pps   basis  sale_quan flag buy_cf_quan ⋯
1 9     2023-02-10 Buy CF CFCF 50   4.745 237.25 0         TRUE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1 4.745   237.25    50        5.5124   275.62     38.37       0
  sold_cf_pps sold_cf_basis true_false
1 0           0             1

   index date       type   co   quan pps    basis    sale_quan flag buy_cf_quan
1  9     2023-02-10 Buy CF CFCF   50 4.7450   237.25    0      TRUE 0
2  9     2023-02-10 Buy    AMC  2000 4.7450  9490.00 1950      TRUE 0
3  7     2023-01-27 Buy CF CFCF 1050 5.2394  5501.37    0      TRUE 0
4  7     2023-01-27 Buy    AMC  2000 5.2394 10478.80  950      TRUE 0
5  5     2023-01-23 Buy CF CFCF   50 5.7880   289.40    0      TRUE 0
6  5     2023-01-23 Buy    AMC  1000 5.7880  5788.00  950      TRUE 0
7  3     2023-01-20 Buy CF CFCF   50 5.6250   281.25    0      TRUE 0
8  3     2023-01-20 Buy    AMC  1000 5.6250  5625.00  950      TRUE 0
9  1     2022-12-31 Buy CF CFCF   50 4.0700   203.50    0      TRUE 0
10 1     2022-12-31 Buy    AMC  1050 4.0700  4273.50 1000      TRUE 0
   ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1  ⋯ 4.7450   237.25     50      5.5124     275.62     38.37        0
2  ⋯ 4.7450  9252.75   1950      5.5124   10749.18   1496.43       50
3  ⋯ 5.2394  5501.37   1050      5.5124    5788.02    286.65        0
4  ⋯ 5.2394  4977.43    950      5.5124    5236.78    259.35     1050
5  ⋯ 5.7880   289.40     50      5.5124     275.62    -13.78        0
6  ⋯ 5.7880  5498.60    950      5.5124    5236.78   -261.82       50
7  ⋯ 5.6250   281.25     50      5.5124     275.62     -5.63        0
8  ⋯ 5.6250  5343.75    950      5.5124    5236.78   -106.97       50
9  ⋯ 4.0700   203.50     50      5.5124     275.62     72.12        0
10 ⋯ 4.0700  4070.00   1000      5.5124    5512.40   1442.40       50
   sold_cf_pps sold_cf_basis true_false
1  0.0000         0.00       1
2  4.7450       237.25       0
3  0.0000         0.00       1
4  5.2394      5501.37       0
5  0.0000         0.00       1
6  5.7880       289.40       0
7  0.0000         0.00       1
8  5.6250       281.25       0
9  0.0000         0.00       1
10 4.0700       203.50       0

#### <font color = yellow> 4. Update buys or sells with a new row (add_row) - whenever a transaction (loop) includes  c/f
    
###### Uses add_row () to transform any existing carryforward (buy or sell type) into the next element that will be processed for next (loop) buy/sell transaction

In [121]:
# fct call
return_list <- update_buys_sells(buys, sells)

# returned the updated to buys / sells
buys <- return_list[[1]]
sells <- return_list[[2]]

#dim(buys)
# dim(sells)

printing updated buys[1 ], dim of buys increases with c/f

#### <font color = yellow>5. snips () Create a new variable from buys/sells row 1, then delete row 1 from buys and sells (copy_snip () )

In [122]:

copy_snip_list <- copy_snip(b, s, buys, sells) 

b1 <- copy_snip_list[[1]]
s1 <- copy_snip_list[[2]]
buys <- copy_snip_list[[3]]
sells <- copy_snip_list[[4]]

# after
# dim(buys)
# dim(sells)
# # b1
# s1

new condtional works for filtering in copy_snip when cf-cf


#### <font color = lime> QC: Loop 10 review buys & sells

In [123]:
sale_records

   index date       type   co   quan pps    basis    sale_quan flag buy_cf_quan
1  9     2023-02-10 Buy CF CFCF   50 4.7450   237.25    0      TRUE 0
2  9     2023-02-10 Buy    AMC  2000 4.7450  9490.00 1950      TRUE 0
3  7     2023-01-27 Buy CF CFCF 1050 5.2394  5501.37    0      TRUE 0
4  7     2023-01-27 Buy    AMC  2000 5.2394 10478.80  950      TRUE 0
5  5     2023-01-23 Buy CF CFCF   50 5.7880   289.40    0      TRUE 0
6  5     2023-01-23 Buy    AMC  1000 5.7880  5788.00  950      TRUE 0
7  3     2023-01-20 Buy CF CFCF   50 5.6250   281.25    0      TRUE 0
8  3     2023-01-20 Buy    AMC  1000 5.6250  5625.00  950      TRUE 0
9  1     2022-12-31 Buy CF CFCF   50 4.0700   203.50    0      TRUE 0
10 1     2022-12-31 Buy    AMC  1050 4.0700  4273.50 1000      TRUE 0
   ⋯ buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
1  ⋯ 4.7450   237.25     50      5.5124     275.62     38.37        0
2  ⋯ 4.7450  9252.75   1950      5.5124   10749.18   1496.43       50
3  ⋯ 5.2394  5501.37   1050      5.5124    5788.02    286.65        0
4  ⋯ 5.2394  4977.43    950      5.5124    5236.78    259.35     1050
5  ⋯ 5.7880   289.40     50      5.5124     275.62    -13.78        0
6  ⋯ 5.7880  5498.60    950      5.5124    5236.78   -261.82       50
7  ⋯ 5.6250   281.25     50      5.5124     275.62     -5.63        0
8  ⋯ 5.6250  5343.75    950      5.5124    5236.78   -106.97       50
9  ⋯ 4.0700   203.50     50      5.5124     275.62     72.12        0
10 ⋯ 4.0700  4070.00   1000      5.5124    5512.40   1442.40       50
   sold_cf_pps sold_cf_basis true_false
1  0.0000         0.00       1
2  4.7450       237.25       0
3  0.0000         0.00       1
4  5.2394      5501.37       0
5  0.0000         0.00       1
6  5.7880       289.40       0
7  0.0000         0.00       1
8  5.6250       281.25       0
9  0.0000         0.00       1
10 4.0700       203.50       0

#### <font color = lime> QC: Loop 10 review buys & sells

In [124]:

dim(buys)
dim(sells)
head(buys,4)
head(sells,4)

[1] 18 23

[1] 13 23

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3 11    2023-02-10 Buy  AMC 1000 4.7800  4780.00 0         FALSE 0           ⋯
4 12    2023-02-13 Buy  AMC 3000 4.7296 14188.80 0         FALSE 0           ⋯
5 13    2023-02-13 Buy  AMC 1500 4.7183  7077.45 0         FALSE 0           ⋯
6 14    2023-02-13 Buy  AMC  300 4.7167  1415.01 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

  index date       type co  quan pps    basis    sale_quan flag  buy_cf_quan ⋯
3 16    2023-02-22 Sell AMC 5950 5.5124 32798.78 0         FALSE 0           ⋯
4 18    2023-02-27 Sell AMC 3000 7.8160 23448.00 0         FALSE 0           ⋯
5 19    2023-02-27 Sell AMC 1850 7.5850 14032.25 0         FALSE 0           ⋯
6 20    2023-02-27 Sell AMC 1000 7.8160  7816.00 0         FALSE 0           ⋯
  buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sold_cf_quan
3 0       0         0         0        0          0           0
4 0       0         0         0        0          0           0
5 0       0         0         0        0          0           0
6 0       0         0         0        0          0           0
  sold_cf_pps sold_cf_basis true_false
3 0           0             0
4 0           0             0
5 0           0             0
6 0           0             0

In [125]:
# stopps

# <font color = cyan> Proof of Concept above. End of loop 10

In [126]:
 stopps

ERROR: Error in eval(expr, envir, enclos): object 'stopps' not found

In [ ]:
library(tibble)
create_data()
sale_records <- data.frame()
   

for(i in 1:) {
# for(i in 1:nrow(buys)) {
    
    tester <- function() {
    if(buys$type[i] == "Buy" && sells$type[i+1] == "Sell") {
        cat("\n Std buy/sell row orientation.  buys$type[i] = : ", buys$type[i], "sells$type[i+1] = : ", sells$type[i+1],  "\n")    
    }else if( buys$type[i] != "Buy" && sells$type[i+1] == "Sell") {
        cat("\n Irregular buy/sell row postion. buys$type[i] = : ", buys$type[i], "sells$type[i+1] = : ", sells$type[i+1],  "\n")   
    }
  } # fct
    
    
tester()
    
    b <- buys[1,]
    s <- sells[1,]
    
    # fct call 2
    updated_b_list <- update_b(b,s,buys)
    updated_b <- updated_b_list[[1]]
    updated_s <- updated_b_list[[2]]
    buys <- updated_b_list[[3]]
    
    # fct call 3
    if(i == 1) {
    sale_records <- rbind(sale_records, updated_b)            
    } else {sale_records <- sale_records %>% add_row(updated_b , .before = 1) }
    
    # fct call 4
    return_list <- update_buys_sells(buys, sells)
    buys <- return_list[[1]]
    sells <- return_list[[2]]
    # fct call 5
    copy_snip_list <- copy_snip(b, s, buys, sells) 
    b1 <- copy_snip_list[[1]]
    s1 <- copy_snip_list[[2]]
    buys <- copy_snip_list[[3]]
    sells <- copy_snip_list[[4]]
    
    }
                            
sale_records

In [ ]:
write.csv(sale_records, file = "sale_records.csv")

In [ ]:
?write.csv